body {
    font-family: Arial;
    background: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.main-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
}

.camera-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.camera-box img {
    border-radius: 10px;
}

.control-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: #007bff;
    border: none;
}

.history-btn {
    width: 100%;
}