<!DOCTYPE html>
<html>
<head>
    <title>Gate Simulation Indonesia</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Gate Simulation Indonesia</h1>

<div class="main-container">

    <!-- CAMERA -->
    <div class="camera-box">

        <img src="/video_feed" width="640">

    </div>

    <!-- CONTROL -->
    <div class="control-box">

        <div class="card">

            <h2>Gate IN</h2>

            <form action="/gate_in" method="POST">

                <input
                    type="text"
                    name="rfid"
                    placeholder="RFID UID"
                    required
                >

                <button type="submit">
                    RFID IN
                </button>

            </form>

        </div>

        <div class="card">

            <h2>Gate OUT</h2>

            <form action="/gate_out" method="POST">

                <input
                    type="text"
                    name="rfid"
                    placeholder="RFID UID"
                    required
                >

                <button type="submit">
                    RFID OUT
                </button>

            </form>

        </div>

        <a href="/history">
            <button class="history-btn">
                Lihat History
            </button>
        </a>

    </div>

</div>

</body>
</html>